.blogPage {
  &__nav {
    background-color: $secondary-color;
    margin-bottom: 82px;
    @include iphone {
      display: none;
      margin-bottom: 0;
    }

    .searchIcon {
      margin-left: auto;
      cursor: pointer;
    }
  }
  &__nav > .container {
    display: flex;
  }
  &__optionsList {
    display: flex;

    & > li {
      font-size: $font-m;
      color: white;
      line-height: 1.2;
      padding: 16px 0;
    }

    li + li {
      margin-left: 32px;
      @include iphone {
        margin-left: 24px;
      }
    }
  }

  .feedsList {
    margin-bottom: 100px;
    @include iphone {
      padding: 24px 15px 0px;
      margin-bottom: 47px;
    }
  }

  .feed {
    display: flex;
    margin-bottom: 60px;
    @include iphone {
      margin-bottom: 26px;
      flex-wrap: wrap;
    }
    & > a {
      display: block;
    }

    .infoBox {
      width: 40%;
      padding-left: 30px;
      position: relative;
      @include ipadPro {
        width: 50%;
      }
      @include iphone {
        width: 100%;
        padding-left: 0;
      }
    }

    &__title {
      color: $primary-color;
      font-weight: bold;
      font-size: $font-s * 2;
      @include ipadPro {
        font-size: $font-m;
        color: $secondary-color;
      }
      @include iphone {
        font-size: $font-s;
      }
    }
    &__subtitleBox {
      display: flex;

      justify-content: space-between;
      padding-bottom: 26px;
      @include ipadPro {
        padding-bottom: 16px;
      }
    }
    &__subtitle {
      font-size: $font-m;
      @include ipadPro {
        font-size: unset;
      }
      @include iphone {
        font-size: $font-xs;
      }
    }
    &__time {
      color: gray;

      @include iphone {
        font-size: $font-xs;
      }
    }

    &__content {
      font-size: $font-m;
      color: $gray;
      @include ipadPro {
        font-size: $font-xs;
        //  hide the text
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
      @include iphone {
        display: none;
      }
    }

    .moreInfoButton {
      display: block;
      color: $secondary-color;
      font-weight: 900;
      font-size: $font-xl;
      position: absolute;
      right: 0;
      bottom: 0;
      @include ipadPro {
        position: unset;
        display: inline;
        font-size: $font-xs;
        color: $gray;
        text-transform: lowercase;
      }
      @include iphone {
        display: none;
      }
    }
  }

  .pageNavigation {
    margin-bottom: 100px;
    @include iphone {
      margin-bottom: 56px;
    }
  }
}
