.banner {
  height: 840px;
  background-size: 100% 100%;
  background-image: url("../../assets/images/banner.png");
  color: $secondary-color;
  font-weight: bold;
  position: relative;
  @include ipad {
    background-image: url("../../assets/images/banner-sm.png");
  }
  @include iphone {
    background-image: url("../../assets/images/banner-sm.png");
    height: 394px;
  }

  &__box {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: $font-xxxl;
    margin-left: auto;
    @include ipad {
      font-size: $font-l * 2;
    }

    @include iphone {
      font-size: $font-s * 2;
    }
  }
  &__subtitle {
    display: block;
    font-size: $font-xl;
    text-align: right;
    @include ipad {
      font-size: $font-m;
    }
    @include iphone {
      font-size: $font-s;
    }
  }
}

.service {
  background-color: $lightpink;

  &__list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    & > li {
      width: 25%;
      padding: 0 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include ipad {
        width: 50%;
      }
      @include iphone {
        width: 100%;
      }
    }
    img {
      width: 100px;
      height: 100px;
    }
    .subtitle {
      padding-top: 40px;
      color: $secondary-color;
      font-size: $font-l;
      font-weight: bold;
    }

    p {
      padding-top: 4px;
      padding-bottom: 80px;
      text-align: left;
    }
  }
}

.title {
  text-align: center;
  color: $secondary-color;
  font-size: $font-xxl;
  font-weight: bold;
  padding: 60px 0;
  @include iphone {
    font-size: $font-l;
    padding-top: 32px;
    padding-bottom: 20px;
  }
}

.productCategories {
  text-align: center;
  padding-bottom: 32px;

  .listItem {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
    @include iphone {
      margin-bottom: 8px;
    }
    .name {
      display: flex;
      align-items: center;
      @include ipad {
        font-size: $font-xs * 2;
        margin-left: 30px;
      }
      @include iphone {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
      }
    }
    & > img {
      width: 60%;
      @include iphone {
        width: unset;
      }
    }
    &:nth-child(odd) > img {
      margin-right: 30px;
      @include ipad {
        margin-right: 0;
      }
    }
    &:nth-child(even) > img {
      margin-left: 30px;
      @include ipad {
        margin-left: 0;
      }
    }
    .icon {
      height: 38px;
      margin-right: 8px;
      @include iphone {
        display: none;
      }
    }
    .iconOnPhone {
      display: none;
      @include iphone {
        display: block;
        margin-right: 8px;
      }
    }
    & > h3 {
      font-size: $font-xxl;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary-color;
      @include ipad {
        width: 40%;
      }
      @include iphone {
        width: unset;
        color: white;
        font-size: $font-xs * 2;
      }
    }
  }
  .listItem:nth-child(even) {
    flex-direction: row-reverse;
    @include ipad {
      flex-direction: row;
    }
  }
}

.crossoverDesign {
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  background-image: url("../../assets/images/bg.png");

  .title {
    color: white;
  }
  &__box {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
    

    a {
      display: block;
      width: 48%;
      height: 472px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: $font-xxxxl;
      color: $secondary-color;
      z-index: 2;
      @include ipad {
        font-size: $font-s * 2;
        height: 280px;
      }
      @include iphone {
        width: 100%;
        height: 284px;
        margin-bottom: 16px;
        font-size: $font-s * 2;
      }
    }
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      opacity: 0.45;
      width: 100%;
      height: 100%;
    }
    .doubleA {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../../assets/images/product-8.png");
    }
    .YOUTH {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../../assets/images/product-9.png");
    }
  }
}

.customerRecommendation {
  padding-bottom: 64px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include iphone {
      justify-content: center;
    }
  }

  .listItem {
    width: 23%;
    border: 1px solid #dee2e6;
    margin-bottom: 28px;
    @include ipadPro {
      width: 48%;
    }
    @include iphone {
      width: 100%;
      margin-bottom: 16px;
    }
    .photo {
      width: 100%;
    }
    .textBox {
      padding: 14px;
      color: #212529;
    }
    .name {
      font-size: $font-xs;
      font-weight: bold;
    }
    .content {
      padding-top: 7px;
      padding-bottom: 10px;
    }
    .time {
      color: #707070;
      font-size: $font-xs;
    }
  }
}

.contact {
  background-color: $lightpink;
  padding-bottom: 50px;
  @include iphone {
    padding: 15px;
  }
  .container {
    max-width: 730px;
    @include ipad {
      max-width: 66%;
    }
    @include iphone {
      max-width: 100%;
    }
  }
  .title {
    color: black;
    padding-bottom: 24px;
  }
  &__subtitle {
    font-size: $font-m;
    margin-bottom: 16px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }

  input[type="text"],
  textarea {
    border: black solid 1px;
    padding: 14px 16px;
    margin-bottom: 16px;
    background-color: $lightpink;
  }
  .checkbox > span {
    @include iphone {
      font-size: $font-xs;
    }
  }
  &__submitBtn {
    border: none;
    font-size: $font-m;
    color: white;
    width: 100%;
    // min-width: 165px;
    padding: 16px;
    margin: 42px auto;
    background-color: $primary-color;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: $secondary-color;
    }
  }
}
