.sunglassesPage {
  .productsList > li {
    width: 33%;
    @include ipadPro {
      width: 50%;
    }

    @include ipad {
      width: 50%;
    }
    @include iphone {
      width: 100%;
    }
  }

  .product__image {
    height: 224px;
    @include iphone {
      height: 164px;
    }
  }
  .product__info {
    display: unset;
    padding-bottom: 11px;
  }
}
