.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 88px;
  @include iphone {
    display: unset;
    padding: 0;
  }
  &__logoLink {
    @include iphone {
      display: block;
      width: 100%;
      background-color: $primary-color;
      padding: 10px 0;
    }
  }
  &__logo {
    width: 80px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url("../images/logo.png");
    @include hide-text;
    @include iphone {
      width: 48px;
      height: 30px;
      background-color: $primary-color;
      margin: 0 auto;
    }
  }
  &__linkList {
    background-color: $primary-color;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    @include iphone {
      text-align: center;
    }
    & > li {
      @include iphone {
        width: 50%;
        border: 1px solid white;
      }
    }
    .link {
      font-size: $font-m;
      color: white;
      margin-right: 60px;
      transition: 0.5s;
      padding: 5px;
      @include iphone {
        margin-right: 0;
      }
    }
    .link:hover {
      border-bottom: 1px solid white;
    }
  }
}

.footer {
  background-color: $primary-color;
  color: white;
  @include ipadPro {
    padding: 40px 39px;
  }
  @include iphone {
    padding: 23px 15px;
  }
  &__navbar {
    padding-top: 48px;
    display: flex;

    justify-content: space-between;
    border-bottom: 1px solid white;
    @include iphone {
      padding-top: 0;
    }
  }
  &__linkList {
    display: flex;
    align-items: center;

    .link {
      display: block;
      margin-right: 48px;
      font-size: $font-s;
    }
    @include iphone {
      display: none;
    }
  }
  &__iconsBox {
    display: flex;
    .icon {
      cursor: pointer;
      transition: 0.5s;

      & > img {
        @include ipadPro {
          width: 24px;
          height: 24px;
        }
      }
    }
    .icon:hover {
      transform: translateY(-5px);
    }
    .icon + .icon {
      margin-left: 32px;
      @include iphone {
        margin-right: 0;
      }
    }
  }

  &__contactBox {
    padding-top: 36px;
    @include iphone {
      padding-top: 0;
    }

    & > a {
      display: block;
      font-size: $font-xl;
      display: flex;
      align-items: center;
      margin-bottom: 19px;
      @include ipadPro {
        font-size: $font-m;
      }
      @include iphone {
        font-size: $font-s;
      }
    }
    .icon {
      margin-right: 16px;
      @include iphone {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__copyRightBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;

    @include iphone {
      flex-direction: row-reverse;
      align-items: flex-end;
      padding: 0;
      padding-top: 18px;
    }

    .iconBox {
      display: block;
      display: flex;
      align-items: center;
      height: 28px;
      z-index: 2;
      @include iphone {
        display: unset;
      }
      .icon {
        @include iphone {
          // display: none;
          width: 46px;
          height: 28px;
        }
      }
    }

    .infoBox {
      font-size: $font-xs;
      display: flex;
      flex: 1;
      @include iphone {
        display: unset;
      }
      .copyRightText {
        margin-left: 38px;
        text-align: left;
        flex: 1;
        @include iphone {
          margin-left: 0;
          margin-bottom: 8px;
        }
      }
      a + a {
        margin-left: 62px;
        @include iphone {
          margin-left: 0;
          margin-top: 8px;
        }
      }
      & > a {
        @include iphone {
          display: block;
        }
      }
    }
  }
}
