$primary-color: #AA0601;
$secondary-color: #650300;

$gray: #555555;
$lightpink: #AA06010D;
$yellow: #FFE180;
$font-xs: 14px;
$font-s: 16px;
// 我幹嘛設 一個預設就有的 16px ==  
$font-m: 20px;
$font-l: 24px;
$font-xl: 36px;
$font-xxl: 48px;
$font-xxxl: 64px;
$font-xxxxl: 72px;
@mixin hide-text {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

@mixin hide-scrollbar {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    .TheSelector ::-webkit-scrollbar {
        display: none; //將滾軸移除，但功能還在
    }
}

